@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

$take-footer: #192431;
$take-blue: #615f7d;
$take-red: #f5989d;
$take-purple: #bd8cbf;
$take-green: #82ca9c;
