@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.container {
  width: 1230px; }

.masthead {
  background: url("http://i64.tinypic.com/rk0dhk.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative; }
  .masthead nav {
    background: initial;
    border: none;
    padding-top: 50px; }
    .masthead nav .navbar-brand {
      color: #ffffff;
      font-family: 'Merriweather', serif;
      font-size: 21px;
      font-weight: 400;
      line-height: 20.8px;
      letter-spacing: -0.24px;
      font-style: italic;
      text-transform: lowercase;
      position: relative;
      left: 50px; }
      .masthead nav .navbar-brand:before {
        content: url("http://i66.tinypic.com/316q1ph.png");
        position: absolute;
        left: -35px;
        top: 3px; }
      .masthead nav .navbar-brand:hover {
        color: white; }
    .masthead nav .navbar-nav li a {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      transition: .5s; }
      .masthead nav .navbar-nav li a:hover, .masthead nav .navbar-nav li a:focus {
        color: black;
        background: rgba(255, 255, 255, 0.2); }
  .masthead h1 {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 300;
    margin-top: 350px; }
  .masthead p {
    width: 450px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 380px; }
  .masthead .iphone {
    width: 700px;
    height: 990px;
    background: url("http://i63.tinypic.com/op2o9l.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 260px;
    left: 793px; }

.text h2 {
  color: #222626;
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 113px; }
.text p {
  color: #959595;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0; }
.text .text-under-iphone {
  margin-top: 237px; }

.box-grid {
  margin-top: 53px; }
  .box-grid .container-fluid h3 {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 300;
    padding-top: 51px;
    margin: 0; }
  .box-grid .container-fluid p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 24px; }
  .box-grid .container-fluid a {
    display: inline-block;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 59px;
    transition: .5s; }
    .box-grid .container-fluid a span {
      font-family: "Arial MT";
      font-weight: 400; }
    .box-grid .container-fluid a:hover {
      text-decoration: none;
      font-size: 20px; }
  .box-grid .container-fluid .fa {
    color: white;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    top: 80%;
    left: 80%; }
  .box-grid .container-fluid .design-quality, .box-grid .container-fluid .built, .box-grid .container-fluid .our-clients, .box-grid .container-fluid .shoo-great, .box-grid .container-fluid .sign-up, .box-grid .container-fluid .perfect-pictures, .box-grid .container-fluid .get-start {
    height: 278px; }
  .box-grid .container-fluid .design-quality {
    background-color: #f5989d; }
  .box-grid .container-fluid .built {
    background-color: #615f7d; }
  .box-grid .container-fluid .our-clients {
    background: url("http://i68.tinypic.com/2djcg0p.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: .8;
    transition: .5s; }
    .box-grid .container-fluid .our-clients:hover {
      opacity: 1; }
  .box-grid .container-fluid .shoo-great {
    background-color: #bd8cbf; }
  .box-grid .container-fluid .sign-up {
    background: url("http://i67.tinypic.com/29x6qnk.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: .8;
    transition: .5s;
    padding-right: 320px; }
    .box-grid .container-fluid .sign-up:hover {
      opacity: 1; }
    .box-grid .container-fluid .sign-up .fa {
      left: 90%; }
  .box-grid .container-fluid .perfect-pictures {
    background-color: #82ca9c; }
  .box-grid .container-fluid .get-start {
    background: url("https://static.pexels.com/photos/671915/pexels-photo-671915.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: .8;
    transition: .5s; }
    .box-grid .container-fluid .get-start:hover {
      opacity: 1; }

/*# sourceMappingURL=style.css.map */
